n8n/rentalcars-followup.json
{
  "name": "AmraniAds — RC Relance 24h automatique",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "⏰ Vérifier chaque heure",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.RENTALCARS_SCRIPT_URL }}?tab=leads"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "📊 Lire leads Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter: Contacté + no reply detected + 24h-48h old (relance window)\nconst rows = $input.first().json.rows || [];\nconst now  = Date.now();\n\nconst targets = rows.filter(r => {\n  const status = (r['Statut'] || '').toLowerCase();\n  // Only follow up leads marked Contacté but not yet confirmed/cancelled\n  if (!['contacté', 'contacte'].includes(status)) return false;\n  const created = new Date(r['Date']);\n  if (isNaN(created)) return false;\n  const ageH = (now - created.getTime()) / 3600000;\n  // Relance window: 24h to 72h after first contact\n  return ageH >= 24 && ageH < 72 && !String(r['Notes']||'').includes('Relance envoyée');\n});\n\nreturn targets.map(r => ({\n  json: {\n    _row:        r._row,\n    name:        r['Nom']        || '',\n    phone:       r['Téléphone']  || '',\n    carType:     r['Voiture demandée'] || '',\n    dates:       r['Dates location']   || '',\n    firstName:   String(r['Nom']||'').split(' ')[0],\n    phoneNorm:   (() => {\n      const p = String(r['Téléphone']||'').replace(/\\D/g,'');\n      if (p.startsWith('0') && p.length===10) return '212'+p.slice(1);\n      if (!p.startsWith('212') && p.length===9) return '212'+p;\n      return p;\n    })()\n  }\n}));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "🔍 Filtrer leads à relancer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 120,\n  \"temperature\": 0.8,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es commercial pour une agence de location de voitures au Maroc. Tu écris des relances WhatsApp courtes et naturelles en darija. Jamais plus de 2 lignes. Ton objectif: obtenir une réponse ou une confirmation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Écris une relance courte pour ce lead qui n'a pas encore répondu:\\n- Prénom: {{ $json.firstName }}\\n- Voiture voulue: {{ $json.carType || 'non précisé' }}\\n- Dates: {{ $json.dates || 'non précisées' }}\\n\\nMessage naturel, pas insistant, en darija. 1-2 lignes max. Propose quelque chose de concret (réserver, envoyer disponibilités).\"\n    }\n  ]\n}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "🤖 OpenAI — Relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.choices[0].message.content.trim();\nreturn [{ json: { ...$('🔍 Filtrer leads à relancer').first().json, relanceMessage: msg } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "📝 Extraire relance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WA_ACCESS_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phoneNorm }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"rc_relance\",\n    \"language\": { \"code\": \"fr\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.firstName }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.relanceMessage }}\" }\n        ]\n      }\n    ]\n  }\n}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "📤 Meta Cloud API — Relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENTALCARS_SCRIPT_URL }}",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"lead_update\",\n  \"row\": {{ $json._row }},\n  \"status\": \"Contacté\",\n  \"notes\": \"🔄 Relance auto envoyée J+1\"\n}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "📊 Marquer relance envoyée",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Vérifier chaque heure":    { "main": [[{ "node": "📊 Lire leads Google Sheet",    "type": "main", "index": 0 }]] },
    "📊 Lire leads Google Sheet":  { "main": [[{ "node": "🔍 Filtrer leads à relancer",   "type": "main", "index": 0 }]] },
    "🔍 Filtrer leads à relancer": { "main": [[{ "node": "🤖 OpenAI — Relance",           "type": "main", "index": 0 }]] },
    "🤖 OpenAI — Relance":         { "main": [[{ "node": "📝 Extraire relance",            "type": "main", "index": 0 }]] },
    "📝 Extraire relance":          { "main": [[{ "node": "📤 Meta Cloud API — Relance",   "type": "main", "index": 0 }]] },
    "📤 Meta Cloud API — Relance": { "main": [[{ "node": "📊 Marquer relance envoyée",     "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "_comment": "AVANT D'ACTIVER: créer le template WhatsApp 'rc_relance' dans Meta Business Manager avec 2 variables. Ce workflow tourne chaque heure et envoie une relance aux leads Contacté entre 24h et 72h sans réponse."
  },
  "tags": [{ "name": "amraniads" }, { "name": "rental-cars" }, { "name": "followup" }]
}
